<div class="card mt-4">
    <h4 class="card-header">Welcome to the inventory!</h4>
    <div class="card-body">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h6>Product Details</h6>
            </div>
            <hr />
            <div class="panel-body">
                <div *ngIf="product">
                    <div class="form-group">
                        <label><b>Title: </b></label> {{product.title}}
                    </div>
                    <div class="form-group">
                        <label><b>Description: </b></label> {{product.description}}
                    </div>
                    <div class="form-group">
                        <label><b>Price: </b></label> {{product.price}}
                    </div>
                    <div class="form-group">
                        <label><b>Quantity: </b></label> {{product.quantity}}
                    </div>
                    <button (click)="list()" class="btn btn-primary">Back</button>
                </div>
            </div>
        </div>
    </div>
</div>
<br />